
<link rel="stylesheet" href="app.css">
<h1>JOIN US</h1>
 
<p class="lead">Register your Company to join <strong><%=data%></strong> 
others on our waitlist. We are 100% not a cult. </p>
 
<form method="POST" action="/register">
 <input type="text" class="form" name='name' placeholder="Enter Your Company">
 <input type="text" class="form" name='address' placeholder="Enter Your Address">
 <button>Add Record</button>
</form>

